
h1, h2, h3, h4, h5, h6, p, body, a, img, ul, ol, blockquote, pre {
  margin: 0; padding: 0; border: 0;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  line-height: 1.52;
  text-rendering: optimizeLegibility;
  height: 100%;
  width: 100%;
  margin: 0;
  min-height: 100%;
}

.content-wrap {
  width: 34em;
  margin: 0 auto;
}

.text-centre { 
  text-align: center;
}

body, a {
  color: #DFDFDF;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;

}

a:hover {
  color: #ff8000;
  text-decoration: underline;
}

p {
  margin-bottom: 1.52em;
}

pre {
  font-size: 0.9em;
  overflow: auto;
  background: #fff;
  border: 1px dashed #d2d2d2;
  border-radius: 0.25em;
  margin-bottom: 1.8em;
  padding: 1em;
}

h1 {
  font-size: 2em;
  margin-bottom: 1em;
  font-weight: 700;
}

h2 {
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.43;
  margin-bottom: 1.35em;
}

h3 {
  font-style: italic;
  text-align: center;
  font-weight: 400;
  font-size: 1.4em;
  margin-top: 1.8em;
  margin-bottom: 0.8em;
}

ol, ul {
  margin: 0 1.4em 1.4em 4em;
}

li {
  margin-bottom: 0.5em;
}

blockquote {
  margin: 1.2em 3em;
  padding-left: 1em;
  font-style: italic;
}

hr {
  border: 0;
  border-top: 1px dashed #d2d2d2;
  height: 0;
  margin: 1.6em 0;
}

.background-image {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -2;
  overflow-x: hidden;
  background-image: url('../img/LLOri_hubble_4806_dark.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(110%) saturate(115%);
}

#background-cover {
  background: url('../img/LLOri_hubble_4806_dark.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(60%) saturate(125%) blur(10px);
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
  opacity: 0.0;
}

#background-cover.show-background {
  opacity: 1.0;
}

.header, .header-container {
  height: 100%;
}

.header-logo-container {
  height: auto;
  width: 100% ;
  position: relative;
  text-align: center;
  position: relative;
  z-index: 1000;
}

.header-vertical-spacer {
  height: 30%;
  width: 100%;
  display: block;
}

.header-logo {
  display: block;
  width: 100%;
}

@media screen and (min-aspect-ratio: 4/3) {
  .header-container {
    width: 70%;
  }

  .header-vertical-spacer {
    height: 15%;
    width: 100%;
    display: block;
  }
}

header {
  position: relative;
  width: 100%;
  min-height: 100%;
  text-align: center;
  color: #fff;
  min-height: 100%;
}

.header-date-container {
  text-shadow: 0px 0px 11px rgba(0, 0, 0, 0.5);
}

.header-date-container h2.year { 
  text-align: right;
  font-size: 75pt;
  padding-bottom: 0px;
  margin-bottom: 0px;
  line-height: 60pt;
  padding-top: 10pt;
  font-weight: 700;
}

.header-date-container h2.date { 
  text-align: right;
  font-size: 40pt;
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  margin-top: 0px;
  font-weight: 700;
  line-height: 40pt;
}

.header-date-container h3.time { 
  text-align: right;
  font-style: normal;
  padding-top: 0px;
  margin-top: 0px;
  font-size: 35pt;
  font-weight: 100;
  letter-spacing: -2pt;
}

@media only screen and (max-width: 768px) {
  
  .header-date-container h2.year { 
    font-size: 42pt;
     line-height: 42pt;
  }

  .header-date-container h2.date { 
    font-size: 23pt;
    line-height: 24pt;
  }

  .header-date-container h3.time { 
    font-size: 22pt;
    line-height: 24pt;
  }
}

@media only screen and (max-width: 576px) {
  
  .header-date-container h2.year { 
    font-size: 36pt;
     line-height: 24pt;
  }

  .header-date-container h2.date { 
    font-size: 20pt;
    line-height: 28pt;
  }

  .header-date-container h3.time { 
    font-size: 20pt;
    line-height: 20pt;
  }
}

.footer-about {
  columns: 3;
  font-weight: 100;
}

.footer-logo {
  width: 100%;

}

.programme-button {
  margin: 10px auto;
  display: block;
  text-align: center;
}

.programme-table {
  width: 100%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.programme-row {
}

.programme-row td {
  border: 2px solid #FFF;
  padding: 10px;
}

.programme-table .dark-row {
  background: rgba(0, 0, 0, 0.25);
  color: #FFF;
}

.programme-table .light-row {
  background: rgba(255, 255, 255, 0.6);
  color: #000;
}

.map {
  width: 100%;
  height: 500px;
}

.speaker-image {
  display: block;
  max-width: 300px;
  width: 100%;
}

.john-image {
  display: block;
  width: 100%;
}

.speaker-title {
  font-size: 30pt;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-weight: bolder;
}

.speaker-subtitle {
  text-align: left;
  margin-top: 0px;
  padding-top: 0px;
  font-size: 14pt;
}

.invis-speaker-image {
   display: none;
}

.right-speaker-image {
  display: block;
}

@media only screen and (max-width: 768px) {
  .speaker-image {
    margin: 0 auto;
  }

  .speaker-title {
    text-align: center;
  }

  .speaker-subtitle {
    text-align: center;
  }

  .right-speaker-image {
    display: none;
  }

  .invis-speaker-image {
     display: block;
  }

}