
extends layout

block header
  .container.header-container
    .header-vertical-spacer
    .header-logo-container
      img.header-logo(src='/img/space-exe-conf-logo.png')

    .header-date-container 
      h2.year 2019
      //h2.date COMING SOON
      //h3.time TIME
      .header-text-container Coming Soon
      #background-cover-trigger

block content
  .container
    .row
      .col-md
        !=contents['about-space-exe.md'].html
      .col-md
        !=contents['about-the-conference.md'].html
  
  hr
  .container
    .row
      .col-lg
        !=contents['contact-us.md'].html