
extends layout

block header
  .container.header-container
    .header-vertical-spacer
    .header-logo-container
      img.header-logo(src=contents.img['space-exe-conf-logo.png'].url)

    .header-date-container 
      h2.year 2019
      h2.date 17 March
      h3.time 9:30 - 17:30
      #background-cover-trigger

block content
  .container
    .row
      .col-md
        !=contents['about-space-exe.md'].html
      .col-md
        !=contents['about-the-conference.md'].html
  
  hr
  .container
    .row
      .col-lg
        !=contents['contact-us.md'].html