
extends layout

block header
  .container.header-container
    .header-vertical-spacer
    .header-logo-container
      img.header-logo(src=contents.img['space-exe-conf-logo.png'].url)

    .header-date-container 
      h2.year 2019
      h2.date 17 March
      h3.time 9:30 - 17:30
      #background-cover-trigger

block content
  .container
    .row
      .col-md
        !=contents['about-space-exe.md'].html
      .col-md
        !=contents['about-the-conference.md'].html
  .container
    .row 
      a.programme-button(href='#tickets')
        button.btn.btn-danger Tickets Available Now!



  hr
  include speakers

  hr
  .container
    .row
      .col-12.col-lg-6
        !=contents['getting-here.md'].html
      .col-12.col-lg-6
        iframe.map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d885.0800633037047!2d-3.5340629106161305!3d50.735356156596346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x81f57b95411330d4!2sForum!5e0!3m2!1sen!2suk!4v1547721906041", frameborder="0", style="border:0", allowfullscreen)
  
  hr
  include tickets 

  hr
  .container
    .row
      .col-lg
        !=contents['contact-us.md'].html