
extends layout

block header
  .container.header-container
    .header-vertical-spacer
    .header-logo-container
      img.header-logo(src=contents.img['space-exe-conf-logo.png'].url)

    .header-date-container 
      h2.year 2020
      h2.date 21 March
      h3.time 12:00 - 18:00
      #background-cover-trigger

block content
  .container
    .row
      .col-md
        !=contents['about-space-exe.md'].html
      .col-md
        !=contents['about-the-conference.md'].html
  .container
    .row 
      a.programme-button()
        button.btn.btn-disabled Tickets Available Soon!

  hr
  .container
    .row
      .col-md
        h1 Programme
        include programme-table

  hr
  h1 Speakers
  include speakers
  h3 More speakers announced soon. 

  hr
  .container
    .row
      .col-12.col-lg-6
        !=contents['getting-here.md'].html
      .col-12.col-lg-6
        iframe.map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2525.1051084328274!2d-3.5380750482606733!3d50.73653937448894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486da445b95a9e95%3A0x53c5ac0d11699e0f!2sUniversity%20of%20Exeter%20Newman%20Lecture%20Theatres!5e0!3m2!1sen!2suk!4v1582154872382!5m2!1sen!2suk", frameborder="0", style="border:0", allowfullscreen)

  hr
  .container
    .row
      .col-lg
        !=contents['contact-us.md'].html
