table.programme-table
	col(width="30%")
	col(width="70%")
	tr.programme-row.light-row
		td.text-centre Time
		td.text-centre Event
	tr.programme-row.light-row
		td.text-centre 10:15 &ndash; 10:50
		td Registration
	tr.programme-row.light-row
		td.text-centre 10:50 &ndash; 11:00
		td Welcome Talk
	tr.programme-row.dark-row
		td.text-centre 11:00 &ndash; 11:30
		td 
			.table-title Fictional Planets and Science Communication
			.table-speaker Dr Simon Clark
	tr.programme-row.dark-row
		td.text-centre 11:30 &ndash; 12:00
		td 
			.table-title There is no Planet B
			.table-speaker Dr Raphaëlle Haywood
	tr.programme-row.light-row
		td.text-centre 12:00 &ndash; 12:30
		td Refreshment Break

	tr.programme-row.dark-row
		td.text-centre 12:30 &ndash; 13:00
		td 
			.table-title From New Elements to World-Leading Journals: The Connections Behind the Norman Lockyer Observatory
			.table-speaker Dr Des Howlett

	tr.programme-row.dark-row
		td.text-centre 13:00 &ndash; 13:30
		td 
			.table-title Weather Forecasting for Mars
			.table-speaker Alex McGinty

	tr.programme-row.light-row
		td.text-centre 13:30 &ndash; 14:00
		td Refreshment Break

	tr.programme-row.dark-row
		td.text-centre 14:00 &ndash; 14:30
		td 
			.table-title Measuring Humidity: Made Plane and Simple!
			.table-speaker Ollie Lewis

	tr.programme-row.dark-row
		td.text-centre 14:30 &ndash; 15:00
		td 
			.table-title Planet Formation at Home &amp; Abroad: How Unique is the Story of the Solar System?
			.table-speaker Dr Sebastiaan Krijt

	tr.programme-row.light-row
		td.text-centre 15:00
		td Finish