table.programme-table
	col(width="30%")
	col(width="70%")
	tr.programme-row.light-row
		td.text-centre Time
		td.text-centre Talk
	tr.programme-row.light-row
		td.text-centre 9:30
		td Registration
	tr.programme-row.light-row
		td.text-centre 10:00
		td Plenary Talk 
	tr.programme-row.dark-row
		td.text-centre 10:15
		td 
			.table-title An Introduction to Astrophotography
			.table-speaker Alexis Lau
	tr.programme-row.dark-row
		td.text-centre 10:45
		td 
			.table-title Studying the Solar Wind with Multi Spacecraft Observations
			.table-speaker Rungployphan Kieokaew
	tr.programme-row.dark-row
		td.text-centre 11:15
		td 
			.table-title The Geological and Morphological Histories of Mars
			.table-speaker Kyle Lamb
	tr.programme-row.dark-row
		td.text-centre 11:45
		td 
			.table-title Treating Cancer with Astrophysics
			.table-speaker Freddy Wordingham

	tr.programme-row.light-row
		td.text-centre 12:15
		td Lunch Break

	tr.programme-row.dark-row
		td.text-centre 13:30
		td Space:Exe Projects Update

	tr.programme-row.dark-row
		td.text-centre 14:00
		td 
			.table-title Building a Muon Telescope (Everything is Broken)
			.table-speaker Sammy Colburn
	tr.programme-row.dark-row
		td.text-centre 14:30
		td 
			.table-title Educating the Next Generation of Astronomers
			.table-speaker Mike Willmott

	tr.programme-row.light-row
		td.text-centre 15:00
		td Coffee Break

	tr.programme-row.dark-row
		td.text-centre 15:30
		td 
			.table-title The Use of Satellite-Derived Products in Operational Weather Forecasting 
			.table-speaker Martin Young

	tr.programme-row.dark-row
		td.text-centre 16:00
		td 
			.table-title The History and Current Activities of the Norman Lockyer Observatory 
			.table-speaker David Strange

	tr.programme-row.dark-row
		td.text-centre 16:30
		td 
			.table-title The Atmospheric Chemistry of Hot Jupiter Exoplanets
			.table-speaker Dr. Eric H&eacute;brard

	tr.programme-row.light-row
		td.text-centre 17:00
		td Drinks Reception