table.programme-table
	col(width="30%")
	col(width="70%")
	tr.programme-row.light-row
		td.text-centre Time
		td.text-centre Talk
	tr.programme-row.light-row
		td.text-centre 12:00
		td Registration
	tr.programme-row.light-row
		td.text-centre 12:30
		td Plenary Talk 
	tr.programme-row.dark-row
		td.text-centre 12:45
		td 
			.table-title Discs around young stars - the planetary nurseries
			.table-speaker Prof. Tim Naylor
	tr.programme-row.dark-row
		td.text-centre 13:15
		td 
			.table-title The Norman Lockyer Observatory
			.table-speaker Des Howlett
	tr.programme-row.light-row
		td.text-centre 13:45
		td Coffee Break

	tr.programme-row.dark-row
		td.text-centre 14:15
		td 
			.table-title Space Weather and its Impact on the Earth
			.table-speaker Siddhant Deshmukh

	tr.programme-row.dark-row
		td.text-centre 14:45
		td 
			.table-title Applying Radio Astronomy to the Weather
			.table-speaker Dr. Chris Brunt

	tr.programme-row.light-row
		td.text-centre 15:15
		td Coffee Break

	tr.programme-row.dark-row
		td.text-centre 15:45
		td 
			.table-title Using Astrophysics to Treat Cancer
			.table-speaker Laura Moran

	tr.programme-row.dark-row
		td.text-centre 16:15
		td 
			.table-title Communicating Climate Science 
			.table-speaker Ayesha Tandon

	tr.programme-row.dark-row
		td.text-centre 16:45
		td 
			.table-title Measuring the Fundamental Properties of Stars
			.table-speaker Sam Morrell

	tr.programme-row.light-row
		td.text-centre 17:15
		td Drinks Reception