.container
	// SIMON CLARK
	.row
		.col-12.col-md-4
			img.speaker-image(src="/img/speakers/simon-clark.png")
		.col-12.col-md-8
			h2.speaker-title Dr Simon Clark
			h3.speaker-subtitle Educator &amp; Content Creator
			!=contents['simon-clark.md'].html
	hr
	// RAPHAELLE HAYWOOD
	.row
		.col-12.col-md-4.invis-speaker-image
			img.speaker-image(src="/img/speakers/raphaelle-haywood.png")
		.col-12.col-md-8
			h2.speaker-title Dr Raphaëlle Haywood
			h3.speaker-subtitle Ernest Rutherford Fellow &amp; Senior Lecturer, University of Exeter
			!=contents['raphaelle-haywood.md'].html
		.col-12.col-md-4.right-speaker-image
			img.speaker-image(src="/img/speakers/raphaelle-haywood.png")
	hr
	// DES HOWLETT
	.row
		.col-12.col-md-4
			img.speaker-image(src="/img/speakers/des-howlett.png")
		.col-12.col-md-8
			h2.speaker-title Dr Des Howlett
			h3.speaker-subtitle Director, Norman Lockyer Observatory
			!=contents['des-howlett.md'].html
	hr
	// ALEX MCGINTY
	.row
		.col-12.col-md-4.invis-speaker-image
			img.speaker-image(src="/img/speakers/alex-mcginty.png")
		.col-12.col-md-8
			h2.speaker-title Alex McGinty
			h3.speaker-subtitle President of Space Exe &amp; Astrophysics Undergraduate, University of Exeter
			!=contents['alex-mcginty.md'].html
		.col-12.col-md-4.right-speaker-image
			img.speaker-image(src="/img/speakers/alex-mcginty.png")
	hr
	// OLLIE LEWIS
	.row
		.col-12.col-md-4
			img.speaker-image(src="/img/speakers/ollie-lewis.png")
		.col-12.col-md-8
			h2.speaker-title Ollie Lewis
			h3.speaker-subtitle Postgraduate, University of Exeter
			!=contents['ollie-lewis.md'].html
	hr
	// SEBASTIAAN KRIJT
	.row
		.col-12.col-md-4.invis-speaker-image
			img.speaker-image(src="/img/speakers/sebastiaan-krijt.png")
		.col-12.col-md-8
			h2.speaker-title Dr Sebastiaan Krijt 
			h3.speaker-subtitle Lecturer in Astrophysics, University of Exeter
			!=contents['sebastiaan-krijt.md'].html
		.col-12.col-md-4.right-speaker-image
			img.speaker-image(src="/img/speakers/sebastiaan-krijt.png")

		