.container
	// TIM NAYLOR
	.row
		.col-12.col-md-4
			img.speaker-image(src="/img/speakers/tim-naylor.png")
		.col-12.col-md-8
			h2.speaker-title Professor Tim Naylor
			h3.speaker-subtitle Norman Lockyer Professor of Astrophysics, University of Exeter
			!=contents['tim-naylor.md'].html
	hr
	// DES HOWLETT
	.row
		.col-12.col-md-4.invis-speaker-image
			img.speaker-image(src="/img/speakers/des-howlett.png")
		.col-12.col-md-8
			h2.speaker-title Dr. Des Howlett
			h3.speaker-subtitle Director, Norman Lockyer Observatory
			!=contents['des-howlett.md'].html
		.col-12.col-md-4.right-speaker-image
			img.speaker-image(src="/img/speakers/des-howlett.png")
	hr
	// SIDHHANT DESHMUKH
	.row
		.col-12.col-md-4
			img.speaker-image(src="/img/speakers/siddhant-deshmukh.png")
		.col-12.col-md-8
			h2.speaker-title Siddhant Deshmukh
			h3.speaker-subtitle Postgraduate, Landessternwarte (State Observatory), Heidelberg, Germany
			!=contents['siddhant-deshmukh.md'].html
	hr

	// CHRIS BRUNT
	.row
		.col-12.col-md-4.invis-speaker-image
			img.speaker-image(src="/img/speakers/no-image.png")
		.col-12.col-md-8
			h2.speaker-title Dr. Chris Brunt
			h3.speaker-subtitle Lecturer in Astrophysics, University of Exeter
			!=contents['chris-brunt.md'].html
		.col-12.col-md-4.right-speaker-image
			img.speaker-image(src="/img/speakers/no-image.png")
	hr
	// LAURA MORAN
	.row
		.col-12.col-md-4
			img.speaker-image(src="/img/speakers/laura-moran.png")
		.col-12.col-md-8
			h2.speaker-title Laura Moran
			h3.speaker-subtitle Postgraduate, University of Exeter
			!=contents['laura-moran.md'].html

	hr
	// AYESHA TANDON
	.row
		.col-12.col-md-4.invis-speaker-image
			img.speaker-image(src="/img/speakers/ayesha-tandon.png")
		.col-12.col-md-8
			h2.speaker-title Ayesha Tandon
			h3.speaker-subtitle Climate Science Communicator, Met Office
			!=contents['ayesha-tandon.md'].html
		.col-12.col-md-4.right-speaker-image
			img.speaker-image(src="/img/speakers/ayesha-tandon.png")

	hr
	// SAM MORRELL
	.row
		.col-12.col-md-4
			img.speaker-image(src="/img/speakers/no-image.png")
		.col-12.col-md-8
			h2.speaker-title Sam Morrell
			h3.speaker-subtitle Postgraduate, University of Exeter
			!=contents['sam-morrell.md'].html
