h1 Speakers
.container
	// ALEXIS LAU
	.row
		.col-12.col-md-4
			img.speaker-image(src="/img/speakers/alexis-lau.png")
		.col-12.col-md-8
			h2.speaker-title Alexis Lau
			h3.speaker-subtitle Undergraduate, University of Exeter
			p
				!=contents['alexis-lau.md'].html
	hr
	// RUNGPLOYPHAN KIEOKAEW
	.row
		.col-12.col-md-4.invis-speaker-image
			img.speaker-image(src="/img/speakers/rungployphan-kieokaew.png")
		.col-12.col-md-8
			h2.speaker-title Rungployphan Kieokaew
			h3.speaker-subtitle Postgraduate, Centre for Geophysical and Astrophysical Fluid Dynamics <br/> University of Exeter
			p
				!=contents['rungployphan-kieokaew.md'].html
		.col-12.col-md-4.right-speaker-image
			img.speaker-image(src="/img/speakers/rungployphan-kieokaew.png")

	hr
	// KYLE LAMB
	.row
		.col-12.col-md-4
			img.speaker-image(src="/img/speakers/kyle-lamb.png")
		.col-12.col-md-8
			h2.speaker-title Kyle Lamb
			h3.speaker-subtitle Undergraduate, University of Plymouth
			p
				!=contents['kyle-lamb.md'].html
	
	hr
	// FREDDY WORDINGHAM
	.row
		.col-12.col-md-4.invis-speaker-image
			img.speaker-image(src="/img/speakers/freddy-wordingham.png")
		.col-12.col-md-8
			h2.speaker-title Freddy Wordingham
			h3.speaker-subtitle Postgraduate, University of Exeter Astrophysics
			p
				!=contents['freddy-wordingham.md'].html
		.col-12.col-md-4.right-speaker-image
			img.speaker-image(src="/img/speakers/freddy-wordingham.png")

	hr
	// MIKE WILLMOTT
	.row
		.col-12.col-md-4
			img.speaker-image(src="/img/speakers/mike-willmott.png")
		.col-12.col-md-8
			h2.speaker-title Mike Willmott
			h3.speaker-subtitle 
				| Teacher, Liskeard School and Community College 
				| <br />
				| Astronomer, Caradon Observatory
			p
				!=contents['mike-willmott.md'].html
	
	hr
	// MARTIN  YOUNG
	.row
		.col-12.col-md-4.invis-speaker-image
			img.speaker-image(src="/img/speakers/martin-young.png")
		.col-12.col-md-8
			h2.speaker-title Martin Young
			h3.speaker-subtitle Deputy Chief Meteorologist, Met Office
			p
				!=contents['martin-young.md'].html
		.col-12.col-md-4.right-speaker-image
			img.speaker-image(src="/img/speakers/martin-young.png")

	hr
	// DAVID STRANGE
	.row
		.col-12.col-md-4
			img.speaker-image(src="/img/speakers/david-strange.png")
		.col-12.col-md-8
			h2.speaker-title David Strange
			h3.speaker-subtitle Chairman, Norman Lockyer Observatory
			p
				!=contents['david-strange.md'].html

	hr
	// ERIC HEBRARD
	.row
		.col-12.col-md-4.invis-speaker-image
			img.speaker-image(src="/img/speakers/eric-hebrard.png")
		.col-12.col-md-8
			h2.speaker-title Dr. Eric H&eacute;brard
			h3.speaker-subtitle Senior Lecturer, University of Exeter Astrophysics
			p
				!=contents['eric-hebrard.md'].html
		.col-12.col-md-4.right-speaker-image
			img.speaker-image(src="/img/speakers/eric-hebrard.png")


