h1 Speakers
.container
	// AYESHA TANDON
	.row
		.col-12.col-md-4
			img.speaker-image(src="/img/speakers/ayesha-tandon.png")
		.col-12.col-md-8
			h2.speaker-title Ayesha Tandon
			h3.speaker-subtitle Climate Science Communicator, Met Office
				!=contents['ayesha-tandon.md'].html
	hr
	// SIDDHANT DESHMUKH
	.row
		.col-12.col-md-4.invis-speaker-image
			img.speaker-image(src="/img/speakers/siddhant-deshmukh.png")
		.col-12.col-md-8
			h2.speaker-title Siddhant Deshmukh
			h3.speaker-subtitle Postgraduate, Landessternwarte (State Observatory), Heidelberg, Germany
				!=contents['siddhant-deshmukh.md'].html
		.col-12.col-md-4.right-speaker-image
			img.speaker-image(src="/img/speakers/siddhant-deshmukh.png")
