h1 Speakers
.container
	// IAN JONES
	.row
		.col-12.col-md-4
			img.speaker-image(src="/img/speakers/ian-jones.png")
		.col-12.col-md-8
			h2.speaker-title Ian Jones
			h3.speaker-subtitle CEO, Goonhilly Earth Station
			p
				!=contents['ian-jones.md'].html
	hr
	// AARON LABDON
	.row
		.col-12.col-md-4.invis-speaker-image
			img.speaker-image(src="/img/speakers/aaron-labdon.png")
		.col-12.col-md-8
			h2.speaker-title Aaron Labdon
			h3.speaker-subtitle Postgraduate, University of Exeter Astrophysics
			p
				!=contents['aaron-labdon.md'].html
		.col-12.col-md-4.right-speaker-image
			img.speaker-image(src="/img/speakers/aaron-labdon.png")

	hr
	// WAYNE THOMAS
	.row
		.col-12.col-md-4
			img.speaker-image(src="/img/speakers/wayne-thomas.png")
		.col-12.col-md-8
			h2.speaker-title Dr. Wayne Thomas
			h3.speaker-subtitle Caradon Observatory
			p
				!=contents['wayne-thomas.md'].html

	hr
	// ALEXIS LAU
	.row
		.col-12.col-md-4.invis-speaker-image
			img.speaker-image(src="/img/speakers/alexis-lau.png")
		.col-12.col-md-8
			h2.speaker-title Alexis Lau
			h3.speaker-subtitle Undergraduate, University of Exeter
			p
				!=contents['alexis-lau.md'].html
		.col-12.col-md-4.right-speaker-image
			img.speaker-image(src="/img/speakers/alexis-lau.png")

	hr
	// JAYESH GOYAL
	.row
		.col-12.col-md-4
			img.speaker-image(src="/img/speakers/jayesh-goyal.png")
		.col-12.col-md-8
			h2.speaker-title Jayesh Goyal
			h3.speaker-subtitle Postgraduate, University of Exeter Astrophysics
			p
				!=contents['jayesh-goyal.md'].html
	
	hr
	// OMAR JAMIL
	.row
		.col-12.col-md-4.invis-speaker-image
			img.speaker-image(src="/img/speakers/omar-jamil.png")
		.col-12.col-md-8
			h2.speaker-title Dr. Omar Jamil
			h3.speaker-subtitle Senior Scientist, Met Office
			p
				!=contents['omar-jamil.md'].html
		.col-12.col-md-4.right-speaker-image
			img.speaker-image(src="/img/speakers/omar-jamil.png")

	hr
	// MATT GHENT & SIDDHANT DESHMUKH
	.row
		.col-12.col-md-4
			img.speaker-image(src="/img/speakers/matt-sidd.png")
		.col-12.col-md-8
			h2.speaker-title Matt Gent &amp; Siddhant Deshmukh
			h3.speaker-subtitle Undergraduates, University of Exeter
			p
				!=contents['matt-gent-siddhant-deshmukh.md'].html

	hr
	// CLAIRE FOULLON
	.row
		.col-12.col-md-4.invis-speaker-image
			img.speaker-image(src="/img/speakers/claire-foullon.png")
		.col-12.col-md-8
			h2.speaker-title Dr. Claire Foullon
			h3.speaker-subtitle Senior Lecturer, University of Exeter
			p
				!=contents['claire-foullon.md'].html
		.col-12.col-md-4.right-speaker-image
			img.speaker-image(src="/img/speakers/claire-foullon.png")

	hr
	// JOHN MACLEAN
	.row
		.col-12.col-md-4
			img.speaker-image(src="/img/speakers/john-maclean.png")
		.col-12.col-md-8
			h2.speaker-title John Maclean
			h3.speaker-subtitle NASA / Exeter Observatory
			p
				!=contents['john-maclean.md'].html


