a(name='tickets')
h1 Tickets

p 
	| To cover the costs of hosting the conference, we are selling tickets for admission to the talks. 
	| However, admission to the mezzanine, where the exhibitors will be, is <b>free</b> and does not require a ticket. 
	| Any profit that we make will be put straight back into the projects run by Space:Exe for our members and towards funding future conferences and events. 
	| They can be purchased by both students and the general public from the Students' Guild website ahead of the conference, or on the door. 

p Prices: 
	ul 
		li Members: £3 <br />
		li Non-Members: £5

a.programme-button(href="https://www.exeterguild.org/shop/product/10139620/", target='_blank')
	button.btn.btn-danger But Tickets 