a(name='tickets')
h1 Tickets

p 
	| To cover the costs of hosting the conference, we are selling tickets for admission to the talks. 
	| However, admission to the Peter Chalk centre, where the exhibitors will be, is <b>free</b> and does not require a ticket. 
	| Any profit that we make will be put straight back into the projects run by Space Exe for our members and towards funding future conferences and events. 
	| They can be purchased by both students and the general public from the link below ahead of the conference, or on the door. 
	| Members will recieve a promo code emailed from the society to access the cheaper tickets

p Prices: 
	ul 
		li Members: £6 <br />
		li Non-Members: £8

a.programme-button(href="https://fixr.co/event/space-exe-conference-tickets-550087124/", target='_blank')
	button.btn.btn-danger Buy Tickets 